<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="top">
  <div
    fxFlex.xs="100%"
    fxLayout="row"
    fxLayout.xs="row wrap"
    fxLayoutAlign.xs="center center"
    class="left"
  >
    <div fxFlex.xs="100%" fxLayoutAlign.xs="center center" class="me">
      <img src="/assets/images/me.webp" />
    </div>
    <div
      fxFlex.xs="96px"
      fxLayout.xs="row"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      ngClass.xs="xs"
      class="links"
    >
      <a
        fxLayoutAlign="center center"
        href="https://github.com/NitashEU"
        target="_blank"
        class="icon"
      >
        <i class="fab fa-github-square"></i>
      </a>
      <a
        fxLayoutAlign="center center"
        href="https://www.linkedin.com/in/ferhat-sayan"
        target="_blank"
        class="icon"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        fxLayoutAlign="center center"
        href="mailto:fs@nitash.de"
        target="_blank"
        class="icon"
      >
        <i class="fas fa-envelope-square"></i>
      </a>
    </div>
  </div>
  <div
    ngClass.xs="xs"
    fxFlex.xs="100%"
    fxLayout="column"
    fxLayoutAlign="start end"
    fxLayoutAlign.xs="start start"
    class="title"
  >
    <div ngClass.xs="xs" class="name">
      Ferhat Sayan
    </div>
    <div ngClass.xs="xs" class="position">
      Software Engineering with <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
<!--
<div fxLayout class="navbar">
  <a routerLink="/cv" routerLinkActive="active" fxLayoutAlign="center center"
    >CV</a
  >
  <a
    routerLink="/skills"
    routerLinkActive="active"
    fxLayoutAlign="center center"
    >Skills</a
  >
</div>
-->
