:host {
  > app-root-card {
    > .body {
      position: relative;

      > app-root-section {
        display: block;
        position: relative;
        margin-bottom: 32px;

        &:not(:last-of-type)::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -16px;
          left: 0;
          height: 2px;
          background: inherit;
          box-shadow: inset 0 0 0 3000px rgba(white, 0.2);
        }
      }
    }
  }
}
