#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1089px 434px #fff, 607px 1468px #fff, 347px 772px #fff,
    1374px 1095px #fff, 952px 1261px #fff, 1350px 601px #fff, 859px 71px #fff,
    644px 12px #fff, 1163px 1039px #fff, 678px 531px #fff, 614px 439px #fff,
    798px 1204px #fff, 1057px 1318px #fff, 132px 997px #fff, 1738px 1595px #fff,
    52px 1975px #fff, 1793px 256px #fff, 1710px 1406px #fff, 1532px 1778px #fff,
    1242px 131px #fff, 1619px 220px #fff, 526px 422px #fff, 1604px 1660px #fff,
    1240px 1536px #fff, 314px 539px #fff, 1500px 1297px #fff, 316px 1902px #fff,
    1688px 621px #fff, 963px 803px #fff, 543px 634px #fff, 1517px 1152px #fff,
    931px 1043px #fff, 1446px 412px #fff, 1826px 1610px #fff, 326px 1158px #fff,
    666px 1097px #fff, 16px 1093px #fff, 1615px 586px #fff, 1216px 1243px #fff,
    1019px 565px #fff, 36px 335px #fff, 1570px 9px #fff, 1042px 38px #fff,
    58px 1985px #fff, 230px 1809px #fff, 23px 1335px #fff, 907px 1307px #fff,
    214px 961px #fff, 1996px 1790px #fff, 619px 569px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1089px 434px #fff, 607px 1468px #fff, 347px 772px #fff,
    1374px 1095px #fff, 952px 1261px #fff, 1350px 601px #fff, 859px 71px #fff,
    644px 12px #fff, 1163px 1039px #fff, 678px 531px #fff, 614px 439px #fff,
    798px 1204px #fff, 1057px 1318px #fff, 132px 997px #fff, 1738px 1595px #fff,
    52px 1975px #fff, 1793px 256px #fff, 1710px 1406px #fff, 1532px 1778px #fff,
    1242px 131px #fff, 1619px 220px #fff, 526px 422px #fff, 1604px 1660px #fff,
    1240px 1536px #fff, 314px 539px #fff, 1500px 1297px #fff, 316px 1902px #fff,
    1688px 621px #fff, 963px 803px #fff, 543px 634px #fff, 1517px 1152px #fff,
    931px 1043px #fff, 1446px 412px #fff, 1826px 1610px #fff, 326px 1158px #fff,
    666px 1097px #fff, 16px 1093px #fff, 1615px 586px #fff, 1216px 1243px #fff,
    1019px 565px #fff, 36px 335px #fff, 1570px 9px #fff, 1042px 38px #fff,
    58px 1985px #fff, 230px 1809px #fff, 23px 1335px #fff, 907px 1307px #fff,
    214px 961px #fff, 1996px 1790px #fff, 619px 569px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 255px 1665px #fff, 1370px 466px #fff, 620px 850px #fff,
    1439px 1294px #fff, 1837px 620px #fff, 1422px 1650px #fff, 464px 1399px #fff,
    769px 856px #fff, 837px 1708px #fff, 1844px 171px #fff, 1426px 1392px #fff,
    752px 1500px #fff, 1733px 990px #fff, 1043px 1337px #fff, 1364px 561px #fff,
    45px 621px #fff, 1853px 920px #fff, 1163px 409px #fff, 1777px 21px #fff,
    1752px 919px #fff, 900px 143px #fff, 1868px 1456px #fff, 48px 327px #fff,
    1478px 1406px #fff, 1305px 966px #fff, 698px 131px #fff, 726px 1806px #fff,
    1895px 756px #fff, 1838px 968px #fff, 1999px 789px #fff, 651px 40px #fff,
    1601px 1428px #fff, 746px 1868px #fff, 1793px 263px #fff, 1226px 623px #fff,
    339px 365px #fff, 1485px 521px #fff, 191px 1725px #fff, 729px 1712px #fff,
    1244px 1276px #fff, 5px 364px #fff, 372px 1953px #fff, 1844px 880px #fff,
    1048px 748px #fff, 254px 1554px #fff, 375px 1614px #fff, 1515px 430px #fff,
    1347px 524px #fff, 1335px 253px #fff, 329px 625px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 255px 1665px #fff, 1370px 466px #fff, 620px 850px #fff,
    1439px 1294px #fff, 1837px 620px #fff, 1422px 1650px #fff, 464px 1399px #fff,
    769px 856px #fff, 837px 1708px #fff, 1844px 171px #fff, 1426px 1392px #fff,
    752px 1500px #fff, 1733px 990px #fff, 1043px 1337px #fff, 1364px 561px #fff,
    45px 621px #fff, 1853px 920px #fff, 1163px 409px #fff, 1777px 21px #fff,
    1752px 919px #fff, 900px 143px #fff, 1868px 1456px #fff, 48px 327px #fff,
    1478px 1406px #fff, 1305px 966px #fff, 698px 131px #fff, 726px 1806px #fff,
    1895px 756px #fff, 1838px 968px #fff, 1999px 789px #fff, 651px 40px #fff,
    1601px 1428px #fff, 746px 1868px #fff, 1793px 263px #fff, 1226px 623px #fff,
    339px 365px #fff, 1485px 521px #fff, 191px 1725px #fff, 729px 1712px #fff,
    1244px 1276px #fff, 5px 364px #fff, 372px 1953px #fff, 1844px 880px #fff,
    1048px 748px #fff, 254px 1554px #fff, 375px 1614px #fff, 1515px 430px #fff,
    1347px 524px #fff, 1335px 253px #fff, 329px 625px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 132px 785px #fff, 368px 1880px #fff, 1619px 1518px #fff,
    209px 168px #fff, 1370px 1713px #fff, 1000px 1027px #fff, 1047px 78px #fff,
    467px 1715px #fff, 1490px 825px #fff, 1906px 448px #fff, 958px 1515px #fff,
    1739px 1356px #fff, 813px 993px #fff, 439px 806px #fff, 819px 41px #fff,
    19px 1478px #fff, 294px 1713px #fff, 962px 1841px #fff, 1209px 1025px #fff,
    1309px 1390px #fff, 485px 1185px #fff, 1520px 1846px #fff, 835px 1429px #fff,
    555px 73px #fff, 781px 384px #fff, 638px 1425px #fff, 825px 677px #fff,
    26px 922px #fff, 1301px 1094px #fff, 63px 74px #fff, 1350px 1294px #fff,
    1052px 1149px #fff, 8px 975px #fff, 1656px 1130px #fff, 1621px 891px #fff,
    869px 591px #fff, 208px 316px #fff, 1308px 1289px #fff, 193px 1607px #fff,
    939px 1805px #fff, 1790px 696px #fff, 1344px 1722px #fff, 732px 694px #fff,
    1656px 256px #fff, 1449px 1989px #fff, 270px 1856px #fff, 1434px 86px #fff,
    907px 1884px #fff, 833px 1568px #fff, 664px 1526px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 132px 785px #fff, 368px 1880px #fff, 1619px 1518px #fff,
    209px 168px #fff, 1370px 1713px #fff, 1000px 1027px #fff, 1047px 78px #fff,
    467px 1715px #fff, 1490px 825px #fff, 1906px 448px #fff, 958px 1515px #fff,
    1739px 1356px #fff, 813px 993px #fff, 439px 806px #fff, 819px 41px #fff,
    19px 1478px #fff, 294px 1713px #fff, 962px 1841px #fff, 1209px 1025px #fff,
    1309px 1390px #fff, 485px 1185px #fff, 1520px 1846px #fff, 835px 1429px #fff,
    555px 73px #fff, 781px 384px #fff, 638px 1425px #fff, 825px 677px #fff,
    26px 922px #fff, 1301px 1094px #fff, 63px 74px #fff, 1350px 1294px #fff,
    1052px 1149px #fff, 8px 975px #fff, 1656px 1130px #fff, 1621px 891px #fff,
    869px 591px #fff, 208px 316px #fff, 1308px 1289px #fff, 193px 1607px #fff,
    939px 1805px #fff, 1790px 696px #fff, 1344px 1722px #fff, 732px 694px #fff,
    1656px 256px #fff, 1449px 1989px #fff, 270px 1856px #fff, 1434px 86px #fff,
    907px 1884px #fff, 833px 1568px #fff, 664px 1526px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

:host {
  > .body {
    display: block;
    min-height: 100vh;

    font-family: "Baloo Thambi 2", cursive;

    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100vh);
    overflow: hidden;

    color: white;

    &.xs {
      padding: 16px;
    }

    > app-root-card {
      &.header {
        padding-bottom: 0;
      }

      &.header.xs {
        margin-bottom: 12px;
        padding-bottom: 0;
      }
    }

    > .container {
      width: 100%;
      max-width: 700px;
      margin: auto;
    }
  }
}
