:host {
  display: flex;
  justify-content: center;
  align-content: center;

  > .sudoku {
    width: 700px;

    > .cell {
      width: 71px;
      height: 71px;

      &.top-thin {
        border-top: 1px solid black;
      }

      &.right-thin {
        border-right: 1px solid black;
      }

      &.top-thick {
        border-top: 3px solid black;
      }

      &.right-thick {
        border-right: 3px solid black;
      }

      &.bottom-thick {
        border-bottom: 3px solid black;
      }

      &.left-thick {
        border-left: 3px solid black;
      }
    }
  }
}
